* {
    /* fix browser margin adjustments */
    margin: 0;
    padding: 0;
    /* make dimensions absolute */
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* disable selection */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* cursor always mouse */
    
    /* font */
    font-family:"Montserrat", sans-serif;
    overflow:hidden;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
}
/* remove focus outlines */
*:focus {
    outline: none;
}

/* fonts */
@font-face {
    font-family: "Montserrat";
    src: url('fonts/FiraSans-Light.ttf');
    font-weight:100;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/FiraSans-Regular.ttf');
    font-weight:400;
}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/FiraSans-Bold.ttf');
    font-weight:600;
}
@font-face {
    font-family: 'Circular';
    src: url('fonts/Circular-Bold.otf');
    font-weight:600;
}

body {
    cursor: default;
    background-image:url("images/blurry.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

div#wrapper {
    position:absolute;
    left:-11vw;
    width:calc(100% + 11vw);
    height:100%;
    transition:transform 300ms cubic-bezier(0.075, 0.820, 0.165, 1.000);
}

div#pg_d_clock {
    position:absolute;
    top:4vh;
    right:6.5vh;
    font-size:3vw;
    color:white;
    overflow:visible;
    visibility:hidden;
}

div#navbar {
    position:absolute;
    height:100%;
    width:12vw;
    top:0;
    left:0;
    background-color:rgba(18, 22, 29, 0.6);
}

div#navbar_slider {
    position:relative;
/*    top:calc(40% - 6vw);*/
    top:calc(50% - 6vw);
    transition: all 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
    transform: translateY(0);
}

div.navbar_item {
    width:12vw;
    height:12vw;
    padding:1.5vw;
    background-color:rgba(0, 0, 0, 0.7);
    transform: translateZ(0);
    transition:all 350ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div.navbar_item img {
    width:100%;
    height:100%;
}

div#page_holder {
    position:absolute;
    height:100%;
    left:12vw;
    right:0;
}

div.page {
    width:100%;
    height:100%;
    transition:
        all 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000),
        transform 300ms cubic-bezier(0.230, 1.000, 0.320, 1.000),
        visibility 1ms;
}

div#pg_sp1 {
    visibility:hidden;
}

div#pg_sp1_nowplaying_bar {
    position:relative;
    height:12vh;
    width:100%;
    background-color:rgb(18, 22, 29);
    overflow:visible;
}

div#pg_sp1_nowplaying_trackname {
    position:absolute;
    color:white;
    font-weight:100;
    font-size:2vw;
    width:100%;
    height:100%;
    text-align:center;
    top:2.0vh;
}

div#pg_sp1_nowplaying_artistname {
    position:absolute;
    color:rgb(255, 255, 255);
    font-weight:100;
    font-size:1.5vw;
    width:100%;
    height:100%;
    text-align:center;
    top:5.8vh;
}
div#pg_sp1_nowplaying_seekbar_container {
    position:absolute;
    bottom:0;
    background-color:rgba(97, 137, 177, 0.42);
    width:100%;
    height:1.1vh;
}
div#pg_sp1_nowplaying_seekbar {
    position:relative;
    left:0;
    background-color: rgb(127,240,255);
    width:100%;
    height:100%;
    transition: width 2000ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div#pg_sp1_wrapper {
    position:relative;
    height:calc(100% - 12vh);
}
div.pg_sp1_main_block {
    position:relative;
    margin-top:7vh;
    width:90%;
    left:5%;
    height:33vh;
}
div.pg_sp1_main_title {
    position:relative;
    background:linear-gradient(to right, rgba(18,22,29,0.8) 0%,rgba(18,22,29,0.5) 100%);
    width:100%;
    padding-top:1vh;
    padding-left:1vw;
    height:6vh;
    font-size:2vw;
    color:white;
}
div.pg_sp1_main_pic_holder {
    width:5000vw;
    height:100%;
    transition:transform 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div.pg_sp1_main_playlist_item {
    position:relative;
    width:27vh;
    height:27vh;
    float:left;
    background-image:url("https://vgy.me/dEsMT0.png");
    background-size:contain;
    background-repeat:no-repeat;
    opacity:0.5;
    -webkit-filter:grayscale(0.8);
}
div.pg_sp1_main_playlist_item_text {
    position:absolute;
    left:0;
    bottom:2.25vh;
    width:100%;
    color:white;
    font-family:"Circular";
    font-size:32px;
    text-align:center;
    text-shadow:0 0 8px black;
    padding:0 0.5vw 0 0.5vw;
    overflow:visible;
}
div.pg_sp1_main_playlist_item.selected {
    opacity:1;
    -webkit-filter:grayscale(0);
    transition:-webkit-filter 600ms ease-out;
    outline:4px solid white;
    outline-offset:-4px;
}

div#pg_sp1_playlist_overlay {
    position:absolute;
    background-color:rgb(19, 21, 25);
    top:1vw;
    right:calc(50% - 35vw);
    bottom:0;
    width:70vw;
    border:1vw solid rgba(0, 0, 0, 0.2);
    transform:translateY(15vh);
    opacity:0;
    visibility:hidden;
    transition:opacity 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000),
        transform 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div#pg_sp1_playlist_overlay.open {
    visibility:inherit;
    opacity: 1;
    transform: translateY(0);
}

div#pg_sp1_playlist_overlay_header {
    position:relative;
    width:100%;
    background-color:rgba(0, 0, 0, 0.2);
    height:20vh;
    padding-bottom:1vw;
}

div#pg_sp1_playlist_overlay_header_image {
    position:relative;
    float:left;
    width:18vh;
    height:100%;
    background-image:url("https://vgy.me/dEsMT0.png");
    background-size:contain;
    background-repeat:no-repeat;
    margin-right:1vw;
}
div#pg_sp1_playlist_overlay_header_name {
    margin-top:1vw;
    position:relative;
    color:white;
    font-size:2vw;
    white-space:nowrap;
    text-overflow:ellipsis;
}
div#pg_sp1_playlist_overlay_header_desc {
    position:relative;
    padding:0.2vw 2vw 0 0.1vw;
    color:white;
    font-size:1vw;
    font-weight:100;
    max-height:7vh;
}
div#pg_sp1_playlist_overlay_tracks_holder {
    position:relative;
    height:calc(100% - 20vh);
    top:0;
    width:100%;
}
div.pg_sp1_playlist_overlay_track {
    width:100%;
    height:4vh;
    color:rgb(255, 255, 255);
}
div.pg_sp1_playlist_overlay_track.odd {
    background-color:rgba(255, 255, 255, 0.03);
}
div.pg_sp1_playlist_overlay_track.selected {
    background-color:rgb(255, 255, 255);
    color:black;
    font-weight:400;
}
div.pg_sp1_playlist_overlay_track_name {
    float:left;
    height:100%;
    font-weight:400;
    font-size:1.2vw;
    padding:0.8vh 0.7vw 0 0.7vw;
    width:50%;
    text-overflow:ellipsis;
    white-space:nowrap;
}
div.pg_sp1_playlist_overlay_track_artist {
    height:100%;
    font-weight:100;
    font-size:1.2vw;
    padding:0.8vh 0.7vw 0 0.7vw;
    width:50%;
    text-overflow:ellipsis;
    white-space:nowrap;
}

div.inner_scroller {
    overflow:visible;
    width:100%;
    height:100%;
    transition:transform 400ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div#keyboard_dimmer {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.9);
    opacity:0;
    transition:opacity 600ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div#keyboard {
    position:absolute;
    top:0;
    left:0;
    background-color:rgb(18, 22, 29);
    padding: 0.6vw;
    opacity:0;
    transition:opacity 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}

div#keyboard_title {
    color:white;
    font-size:1.4vw;
    font-weight:100;
    padding-bottom:1vh;
}

div#keyboard_field {
    width:calc(100% - 0.4vw);
    height:6vh;
    background-color:white;
    margin-bottom:0.6vw;
    margin-left:0.2vw;
    color:rgba(0, 0, 0, 0.5);
    font-size:1.5vw;
    padding:1.5vh 1vw 0 1vw;
    white-space:pre;
    border-radius:0.1vw;
    text-overflow:ellipsis;
}
div#keyboard_field .user_input {
    color:black;
}
div#keyboard_field .suggestion {
}
div#keyboard_field .suggestion_post {
    padding-left:0.5vw;
    font-size:1.5vw;
}

div#keyboard_holder {
    position:relative;
}

div.keyboard_row {
    width:100%;
}

div.keyboard_button {
    height:100%;
    color:white;
    float:left;
    height:4vw;
    width:4vw;
    font-size:2vw;
    margin:0.2vw;
    background-color:rgba(255, 255, 255, 0.1);
    text-align:center;
    padding-top:1.5vh;
    border-radius:0.1vw;
    transition:all 200ms cubic-bezier(0.230, 1.000, 0.320, 1.000);
}
div.keyboard_button.split_l {
    margin-right:0.4vw;
}
div.keyboard_button.split_r {
    margin-left:0.4vw;
}
div.keyboard_button.kb_selected {
    color:black;
    transition:none;
}
div.keyboard_button.kb_selected.left {
    background-color:rgba(200, 225, 255, 0.9);
}
div.keyboard_button.kb_selected.right {
    background-color:rgba(255, 213, 213, 0.9);
}

div.keyboard_selector {
    position:absolute;
    width:calc(40%);
    height:calc(100% / 1.5);
    top:calc(100% / 6);
}
div#keyboard_selector_left {
    position:absolute;
    left:5%;
}
div#keyboard_selector_right {
    position:absolute;
    right:5%;
}
div.keyboard_selector_img {
    position:absolute;
    top:calc(50% - 1vw);
    left:calc(50% - 1vw);
    width:2vw;
    height:2vw;
    border-radius:1000vw;
    border:0.2vw solid black;
    opacity:0.4;
}